.fade-up {
    animation: fadeUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.fade-down {
    animation: fadeDown 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}