body {
    background-color: #101312;
}

.logo-container {
    width: 200px;
    /* Ajusta el ancho a tu logo */
    margin: 20px auto -60px;
}

.card {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    border-radius: 24px;
    padding: 12px 16px;
}

.btn-primary {
    background-color: #F26B21;
    color: #f0f0f0;
    border-radius: 24px;
    padding: 12px 16px;
    border: 2px solid #181818;
}

.btn-warning {
    background-color: #F26B21;
    color: #f0f0f0;
    border-radius: 24px;
    padding: 12px 16px;
    border: 2px solid #181818;
}

.btn-primary:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.gap-3 {
    gap: 4rem;
}

.form-control::placeholder {
    color: #181818;
}

.form-control:focus {
    box-shadow: none;
}

.form-control:focus,
.form-control:active {
    border-color: #F26B21;
}

.form-floating:focus-within .form-label,
.form-floating:active .form-label {
    transform: translateY(-15px);
    color: #F26B21;
    font-size: 12px;
}

h2 {
    color: #181818;
    font-size: 18px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 37px;
}


.btn-primary {
    width: 100%;
}