body {
    background-color: #101312;
}

.card {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.form-floating {
    margin-bottom: 23px;
}

.form-control {
    border-radius: 24px;
    padding: 12px 16px;
}

.btn-primary {
    background-color: #F26B21;
    color: #f0f0f0;
    border-radius: 24px;
    padding: 12px 16px;
    border: 2px solid #181818;
}

.btn-ghost {
    background-color: transparent;
    color: #181818;
    border: 2px solid #181818;
    padding: 12px 16px;
    border-radius: 24px;
}

.btn-ghost:hover,
.btn-primary:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}